<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TITOLONE</title>
  </head>
  <body>
    <h1>Ciao</h1>
    <div>TIME {{.}}</div>
    <div>TIME formattato {{formatTime .}}</div>
  </body>
</html>