<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TITOLONE</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    {{$myh1 := .}}
    <h1>{{$myh1}}</h1>
  </body>
</html>