<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Name</title>
</head>
<body>

    {{if .}}
        <h1>{{.}}</h1>
    {{end}}
    
    <form action="/me/" method="post">
        <input type="text" name="yourname" id="yourname" placeholder="type in your name">
        <input type="submit" value="OK">
    </form>
</body>
</html>