<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    {{if .}}
        <h2>Your info</h2>
        <p>{{.ID}}</p>
        <p>{{.Username}}</p>
        <p>{{.Email}}</p>
    {{end}}
    <form action="/show" method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="text" name="email" id="email" placeholder="email">
        <input type="submit" value="log in">
    </form>
</body>
</html>