<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
</head>
<body>
    <h1>hotdogs.</h1>

    <img src="/resources/images/01.png" alt="image 1">
    <img src="/resources/images/02.png" alt="image 2">
    <img src="/resources/images/03.png" alt="image 3">
    
</body>
</html>