<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .button {
          
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        .greenButton {
            background-color: green;
        }
        .redButton {
            background-color:red;
        }
        </style>
    <title>Document</title>
</head>
<body>
    <h1>Set or update your message</h1>
    {{if .}}

        <h2>Your info</h2>
        <p>{{.Username}}</p>
        <p>{{.Email}}</p>
    
        {{if .Message}}
            <h2>Your current message</h2>
            <p>{{.Message}}</p>
            <strong>Fill the form to update your message</strong>
        {{else}}
            <strong>Fill the form to set a message</strong>
        {{end}}
    {{end}}

    <br>

    <form method="POST" action="/setMessage">
        <input type="text" name="message" id="message" placeholder="write something here">
        <input type="submit" value="OK">
    </form>

    <br>

    <form action="/deleteUser" method="post">
        <input class="redButton button" type="submit" value="Delete my user">
    </form>

    <br>

    <form action="/logout" method="post">
        <input class="greenButton button" type="submit" value="log out">
    </form>
</body>
</html>