<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>M A S T O P H O T O B L O G</h1>

    {{if .Message}}
    <div id="topmessagediv">
        <p id="topmessagep">{{.TopMessage}}</p>
    </div>
    {{end}}

    <ul>
        {{range $i, $utente := .Users}}
            <div>
                <li>
                    <a href="/user/{{$i}}">{{$utente.Username}}</a>
                </li>
            </div>
        {{end}}
    </ul>
    
</body>
</html>