<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User blog</title>
</head>
<body>
    <h1>{{.Username}}'s Blog</h1>

    <div id="topmessagediv">
        <p>{{.TopMessage}}</p>
    </div>

    <div>
        <div>Profile picture</div> <div>USERNAME</div> <div><p>user status</p></div>
    </div>

    <div>
    <p>list of images here</p>        >
    </div>
</body>
</html>