<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Passing data into nested templates</title>
  </head>
  <body>

  <h1>Passing data into nested templates</h1>

    <div>{{template "template_1" .}}</div>
    <div>{{template "template_2" .}}</div>

  </body>
</html>