<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TITOLONE</title>
  </head>
  <body>
    <h1>CIAONE<h1>
    <ul>
    {{/* solo value */}}
      {{range .}}
        <li>{{.}}</li>
      {{end}}
    </ul>
    <ul>
    {{/* key, value */}}
      {{range $key, $value := .}}
        <li>{{$key}} - {{$value}}</li>
      {{end}}
    </ul>
    <ul>
    {{/* solo value */}}
      {{range $val := .}}
        <li>{{$val}}</li>
      {{end}}
    </ul>
  </body>
</html>