<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TITOLONE</title>
  </head>
  <body>
    <h1>Una persona<h1>
    <div>
      <p>Name: {{.Name}}</p>
      <p>Age: {{.Age}}</p>
    </div>
  </body>
</html>