<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prova template innestati</title>
  </head>
  <body>
    <h1>Ciao</h1>
    {{template "bubu"}}
    {{template "yogi"}}
  </body>
</html>